@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');


* {
    margin: 0px;
    box-sizing: border-box;
    line-height: 1.5;
}

*::selection {
    background-color: rgba(255, 205, 32, 0.9);
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


/*------NAVBAR------*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #ffc600;
    font-family: 'Poppins', sans-serif;
}

header h2 {
    margin-right: auto;
}

nav ul li {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    display: inline;
    padding: 0 20px;
    cursor: pointer;
    transition: all ease 0.2s ;
}

nav ul li:hover {
    color: #fbfbfb;
}


/*------FIRST DIV------*/
.firstDiv {
    background-color: white;
    border-bottom: solid 1px #ffc600;
    padding: 110px 10%;
}

.firstDiv h1 {
    font-family: 'Playfair Display', serif;
}

button {
    background-color: #ff2929;
    color:#fbfbfb;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    transition: all ease 0.5s;
    cursor: pointer;
    margin-right: 30px;
}

button:hover {
    background-color: #e01a1a;
}


/*------PROJECTS------*/
.projects {
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    border-bottom: #ffc600 solid 1px;
    padding: 100px 10%;
}

.projects h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 17px;
}

.projectImages {
    display: grid;
    grid-template-columns: repeat(3);
    grid-template-rows: repeat(2);
}

.projectImageOne {
    grid-column: 1;
    grid-row: 1;
    width: 400px;
    height: 214px;
    margin: 75px auto 0px auto;
    cursor: pointer;
}

.projectImageTwo {
    grid-column: 2;
    grid-row: 1;
    width: 132px;
    height: 214px;
    margin: 75px auto 0px auto;
    cursor: pointer;
}

.projectImageThree {
    grid-column: 3;
    grid-row: 1;
    width: 164px;
    height: 214px;
    margin: 75px auto 0px auto;
    cursor: pointer;
}

.projectImageFour {
    grid-column: 1;
    grid-row: 2;
    width: 400px;
    height: 214px;
    margin: 75px auto 0px auto;
    cursor: pointer;
}

.projectImageFive {
    grid-column: 2;
    grid-row: 2;
    width: 132px;
    height: 214px;
    margin: 75px auto 0px auto;
    cursor: pointer;
}

.projectImageSix {
    grid-column: 3;
    grid-row: 2;
    width: 400px;
    height: 214px;
    margin: 75px auto 0px auto;
    cursor: pointer;
}







.technological-skills-block {
    text-align: center;
    background-color: white;
    padding: 80px 0 70px 0;
}

.technological-skills-block h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}

.technological-skills-block p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 27px;
}

.technological-skills-container {
    grid-template-columns: repeat(6, 1fr);
}
.technological-skills-container {
    align-items: center;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    margin: 0 20%;
}

.technological-skills-container p {
    background-color: #ffc600;
    border: 1px solid #ffc600;
    border-radius: 3px;
    color: black;
    font-weight: 600;
    padding: .5em;
    transition: all ease .5s;
    margin-bottom: 25px;
    text-align: center;
}

.technological-skills-container p:hover {
    background-color: #fff;
}








/*------WHO AM I?------*/
.whoAmI {
    padding: 50px 10%;
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}

.whoAmI h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
    text-align: justify;
}

.whoAmI2 {
    display: flex;
}

.img {
    width: 250px;
    height: 250px;
    margin-right: 50px;
    border-radius: 2px;
}

.paragraphs > p:nth-child(3) {
    margin-top: 20px;
    font-size: 17px;
}


/*------LET'S CONNECT------*/
.letsConnect {
    background-color: #000720;
    color: #fbfbfb;
    padding: 60px 10%;
    font-family: 'Poppins', sans-serif;
}

.letsConnect h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 17px;
}

span {
    color: #f71b1b;
    cursor: pointer;
}


/*------FOOTER------*/
footer {
    background-color: #ffc600;
    font-family: 'Poppins', sans-serif;
    padding: 30px 0px;
}

footer ul {
    margin: 0px;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;

}

footer ul li {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    display: inline;
    padding: 0px;
    cursor: pointer;
    margin: 0px 20px;
    transition: all ease 0.2s ;
}

footer ul li:hover {
    color: #fbfbfb;
}

footer ul > li:nth-child(1) {
    margin-left: 0px;
}

footer ul > li:nth-child(6) {
    margin: 0px;
    margin-left: auto;
    cursor: text;
    transition: none;
}

footer ul > li:nth-child(6):hover {
    color: black;
}

@media only screen and (max-width: 700px) {
    body {
      background-color: blue;
    }
  }